#Register {
  // vue数据渲染花括号去除
  [v-cloak] {
    display: none;
  }
  // 最大操作内容块
  .register-include-control {
    background: #818283;
    overflow: hidden auto;
    flex: 1 1 0%;
    position: absolute;
    margin-left: 525px;
    margin-top: -207px;
    top: 224px;
    width: 36%;
  }
}