<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.techGoal.mapper.AssociationMapper" >
  <resultMap id="BaseResultMap" type="com.techGoal.pojo.dao.AssociationDo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="association_no" property="associationNo" jdbcType="BIGINT" />
    <result column="headquarters_no" property="headquartersNo" jdbcType="BIGINT" />
    <result column="association_sp_admin_no" property="associationSpAdminNo" jdbcType="BIGINT" />
    <result column="association_admin_no" property="associationAdminNo" jdbcType="BIGINT" />
    <result column="association_name" property="associationName" jdbcType="VARCHAR" />
    <result column="association_theme" property="associationTheme" jdbcType="VARCHAR" />
    <result column="association_label" property="associationLabel" jdbcType="VARCHAR" />
    <result column="association_location_prov" property="associationLocationProv" jdbcType="INTEGER" />
    <result column="association_location_city" property="associationLocationCity" jdbcType="INTEGER" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>