<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.techGoal.mapper.CircleMomentsMapper" >
  <resultMap id="BaseResultMap" type="com.techGoal.pojo.dao.CircleMomentsDo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="moments_id" property="momentsId" jdbcType="BIGINT" />
    <result column="circle_no" property="circleNo" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="images" property="images" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="comment_flag" property="commentFlag" jdbcType="TINYINT" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="publisher_id" property="publisherId" jdbcType="BIGINT" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="publisher_time" property="publisherTime" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, moments_id, circle_no, title, content, images, status, comment_flag, location, publisher_id, update_by, publisher_time, update_at
  </sql>

  <select id="queryCircleMoments" resultMap="BaseResultMap" parameterType="com.techGoal.pojo.dao.CircleMomentsDo" >
    <!-- CircleMomentsMapper.queryCircleMoments -->
    select
    <include refid="Base_Column_List" />
    from t_circle_moments
    <where>
      and status = 1
      <if test="momentsId != null">
        AND moments_id = #{momentsId}
      </if>
      <if test="circleNo != null">
        AND  circle_no = #{circleNo}
      </if>
    </where>
    order by create_time desc
  </select>
</mapper>