<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alumni.control.mapper.SchoolMapper" >
  <resultMap id="BaseResultMap" type="com.alumni.control.pojo.dao.SchoolDo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="school_id" property="schoolId" jdbcType="VARCHAR" />
    <result column="school_name" property="schoolName" jdbcType="VARCHAR" />
    <result column="province_id" property="provinceId" jdbcType="VARCHAR" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="other" property="other" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, school_id, school_name, province_id, province_name, city_id, city_name, level, department, other
  </sql>

  <select id="getSchoolInfoById" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    t_school
    WHERE
    school_id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getSchools" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    t_school
  </select>
</mapper>